body{
  background-image: url("/static/images/result.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
 background-size: cover;
}

.form{
  opacity: 1.5;
}
.h4{
  background-color: #797596;
}

/* footer */
.ftr{
  color: #cccccc;
}

