body {
  background-image: url("https://img.freepik.com/free-vector/digital-technology-background-with-abstract-wave-border_53876-117508.jpg?w=1380") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.main-page {
  margin-top: 100px !important;
  text-align: center !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat" !important;
  }

.formFill {
  margin-top: 40px !important;
  margin-bottom: 185px !important;
}
