{% extends "base.html" %}
{% block title %}consult{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/doctors.css" />
{% endblock %}

{% block content %}
<div id="">
  <div class="container my-3 my-sm-5">
    <div class="headDiv">
      <h1 class="heading">Hepatologists</h1>
    </div>
    {% for doct in data %}
    <div class="box">
      <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
          <img src="/static/images/neu-stock.jpg" class="img-fluid circ" alt="">
        </div>
        <div class="col-12 col-md-6">
          <h5>{{doct[1]}}<br></h5>
          <p>{{doct[3]}}<br></p>
          <a href="{{doct[4]}}" class="btn btn-light">For more info</a>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>

{% endblock%}




<body>
  <!-- navbar -->
  

    <!-- DOCTORS SECTION -->
<!-- 
    <div id="">
      <div class="container my-3 my-sm-5">
        <div class="headDiv">
          <h1 class="heading">Specialists You Can Consult</h1>
        </div>
        {% for doct in data %}
        <div class="box">
          <div class="row mb-4 align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
              <img src="/static/images/neu-stock.jpg" class="img-fluid circ" alt="">
            </div>
            <div class="col-12 col-md-6">
              <h5>NAME: {{doct[1]}}<br>
                CONTACT: {{doct[2]}}<br></h5>
              <p>DESCRIPTION: {{doct[3]}}<br></p>
              <a href="{{doct[4]}}" class="btn btn-light">VISIT THEIR WEBSITE</a>
            </div>
          </div>
        </div>
        {% endfor %}


      </div> -->
      <!-- TESTIMONIALS -->
<!-- 
      <section id="testimonials">
        <h1 class="test-h"><i>Testimonials</i></h1>
        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="test-text">Loren ipsum litora torquent per conubia nostra, per inceptos himenaeos.
                Curabitur sollicitudin semper aliquam</h2>
              <em>Name, Location</em>
            </div>
            <div class="carousel-item ">
              <h2 class="test-text">Loren ipsum litora torquent per conubia nostra, per inceptos himenaeos.
                Curabitur sollicitudin semper aliquam</h2>
              <em>Name, Location</em>
            </div>
            <div class="carousel-item ">
              <h2 class="test-text">Loren ipsum litora torquent per conubia nostra, per inceptos himenaeos.
                Curabitur sollicitudin semper aliquam</h2>
              <em>Name, Location</em>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>




      </section> -->



      <!-- footer -->
      <!-- <footer class="small bg-light ftr">
        <div class="ftr container py-3 py-sm-5 text-center">
          <ul class="list-inline mt-2 mb-0 text-center">
            <li class="list-inline-item">&copy 2021 LiverX</li>
            <li class="list-inline-item">Thank you for visiting.</li>
          </ul>
        </div>
      </footer> -->

