<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Neurologists</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/doctors.css">
  <link rel="stylesheet" href="/static/css/navbar.css">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap"
    rel="stylesheet">


  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <style>
    body {
      background-image: url("https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

    }
  </style>

</head>

<body>
  <!-- navbar -->
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">BTD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            {% if ses == True %}
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            {% else %}
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/mainPage">Scan your MRI</a>
          </li>
          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Neurologists
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="nav-link"><a
                    href="http://127.0.0.1:5000/doctors/Mumbai">Mumbai</a></button>
                <button class="dropdown-item" type="button"><a
                    href="http://127.0.0.1:5000/doctors/Delhi">Delhi</a></button>
                <button class="dropdown-item" type="button"><a
                    href="http://127.0.0.1:5000/doctors/Bangalore">Bangalore</a></button>
                <button class="dropdown-item" type="button"><a
                    href="http://127.0.0.1:5000/doctors/Ahmedabad">Ahmedabad</a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- DOCTORS SECTION -->

    <div id="">
      <div class="container my-3 my-sm-5">
        <div class="headDiv">
          <h1 class="heading">Neurologists You Can Consult</h1>
        </div>
        {% for doct in data %}
        <div class="box">
          <div class="row mb-4 align-items-center">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
              <img src="/static/images/neu-stock.jpg" class="img-fluid circ" alt="">
            </div>
            <div class="col-12 col-md-6">
              <h5>NAME: {{doct[1]}}<br>
                CONTACT: {{doct[2]}}<br></h5>
              <p>DESCRIPTION: {{doct[3]}}<br></p>
              <a href="{{doct[4]}}" class="btn btn-light">VISIT THEIR WEBSITE</a>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
      <!-- TESTIMONIALS -->

      <section id="testimonials">
        <h1 class="test-h"><i>Testimonials</i></h1>
        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="test-text">Loren ipsum litora torquent per conubia nostra, per inceptos himenaeos.
                Curabitur sollicitudin semper aliquam</h2>
              <em>Name, Location</em>
            </div>
            <div class="carousel-item ">
              <h2 class="test-text">Loren ipsum litora torquent per conubia nostra, per inceptos himenaeos.
                Curabitur sollicitudin semper aliquam</h2>
              <em>Name, Location</em>
            </div>
            <div class="carousel-item ">
              <h2 class="test-text">Loren ipsum litora torquent per conubia nostra, per inceptos himenaeos.
                Curabitur sollicitudin semper aliquam</h2>
              <em>Name, Location</em>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>




      </section>



      <!-- footer -->
      <footer class="small bg-light ftr">
        <div class="ftr container py-3 py-sm-5 text-center">
          <ul class="list-inline mt-2 mb-0 text-center">
            <li class="list-inline-item">&copy 2021 BTD</li>
            <li class="list-inline-item">All rights reserved.</li>
          </ul>
        </div>
      </footer>



</body>

</html>