<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Liver Tumour Detection</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/navbar.css">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
    rel="stylesheet">

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js">
  </script>

  <style>
    body {
      background-image: url("/static/images/webpage.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

</head>

<body>
  <!-- navbar -->
  <div>
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="">LTD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            {% if ses == True %}
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            {% else %}
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/mainPage">Scan your MRI</a>
          </li>
          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Specialists
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="nav-link"><a
                    href="http://127.0.0.1:5000/doctors/Mumbai">Mumbai</a></button>
                <button class="dropdown-item" type="button"><a
                    href="http://127.0.0.1:5000/doctors/Delhi">Delhi</a></button>
                <button class="dropdown-item" type="button"><a
                    href="http://127.0.0.1:5000/doctors/Bangalore">Bangalore</a></button>
                <button class="dropdown-item" type="button"><a
                    href="http://127.0.0.1:5000/doctors/Chennai">Chennai</a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Title part -->
    <!-- For failing to upload the image -->
    {% if error == "" %}

    {% else %}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    {% endif %}
    <div class="main-page container">
      <h3 class="sub-heading">Accurate, Trustworthy, Time-saving</h3>
      <h1 class="heading">LIVER TUMOUR DETECTION</h1>
      <form action="http://127.0.0.1:5000/mainPage" method='POST' enctype="multipart/form-data">

        <label class="input-group-btn">
          <span class="btn btn-dark btn-lg">
            Browse File <input type="file" name='mri' id="image" accept="image/*" style="display: none;">
          </span>
        </label>
        <h4>
          <!-- Selected file will get here -->
        </h4>
        <!-- To display which file has been selected  -->
        <script>
          $(document).ready(function () {
            $('input[type="file"]').change(function (e) {
              var geekss = e.target.files[0].name;
              $("h4").text(geekss + ' is the selected file.');

            });
          });
        </script>
        <!-- Upload Button -->
        <label class="input-group-btn">
          <span class="btn btn-light ">
            Upload <input type="submit" value="Upload" style="display: none;">
          </span>
        </label>

      </form>
      <div>
      </div>

    </div>

    <!-- footer -->
    <footer class="small bg-light ftr">
      <div class="ftr container py-3 py-sm-5 text-center">
        <ul class="list-inline mt-2 mb-0 text-center">
          <li class="list-inline-item">&copy 2021 LTD</li>
          <li class="list-inline-item">Thank you for visiting.</li>
        </ul>
      </div>
    </footer>

</body>

</html>